*.bin
*.pcap
*.clfr
.DS_Store
.idea/
build/
cmake-build-debug/
cmake-build-release/
src/proto/
test/include/catch.h
!test/data/*.pcap
!test/data/*.bin
!test/data/*.clfr
ext/include/cxxopts/cxxopts.h
benchmark/*.pdf
benchmark/*.dat